<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework"
				 type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework"/>
	</configSections>

	<connectionStrings>
		<add name="OrderContext"
			 providerName="MySql.Data.MySqlClient"
			 connectionString="server=localhost;port=3306;user=orderuser;password=Order123!;database=orderdb"/>
	</connectionStrings>

	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
		<providers>
			<provider invariantName="MySql.Data.MySqlClient"
					  type="MySql.Data.EntityFramework.MySqlEFProviderServices, MySql.Data.EntityFramework"/>
		</providers>
	</entityFramework>

	<system.data>
		<DbProviderFactories>
			<remove invariant="MySql.Data.MySqlClient"/>
			<add name="MySQL Data Provider"
				 invariant="MySql.Data.MySqlClient"
				 description=".Net Framework Data Provider for MySQL"
				 type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data"/>
		</DbProviderFactories>
	</system.data>
</configuration>